*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-sans: "Rubik", "Segoe UI", "Ubuntu", -apple-system, system-ui, sans-serif;
  --font-code: "Inconsolata", "Consolas", "Menlo", "Liberation Mono", monospace;
  --font-xs: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-mx: 17px;
  --max-w: 36rem;
  --nav-h: 4rem;
  --border-xs: 0.15rem;
  --border-sm: 0.25rem;
  --border-md: 0.75rem;
  --border-xm: 1.25rem;
  --border-xx: 9999rem;
  --headline-1: 2.55rem;
  --headline-2: 1.75rem;
  --headline-3: 1.25rem;

  --accent-hue: 200;
  --accent-lightness: 25%;
  --border-lightness: 0%;

  --pmcolor: hsl(0, 0%, 100%);
  --sdcolor: hsl(0, 0%, 96%);
  --ttcolor: hsl(0, 0%, 40%);
  --qtcolor: hsl(0, 0%, 12%);
  --qncolor: hsl(0, 0%, 20%);
  --accolor: hsl(var(--accent-hue), 100%, var(--accent-lightness));

  --background-color: var(--pmcolor);
  --background-image: conic-gradient(at top right, var(--sdcolor), var(--pmcolor));
  --color: var(--qncolor);
  --border-color: hsla(var(--accent-hue), 0%, var(--border-lightness), 0.125);
  --highlight: hsla(var(--accent-hue), 100%, var(--accent-lightness), 0.25);
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

:root:is([data-theme="dark"]) {
  --accent-hue: 25;
  --accent-lightness: 60%;
  --border-lightness: 100%;

  --pmcolor: hsl(0, 0%, 12%);
  --sdcolor: hsl(0, 0%, 20%);
  --ttcolor: hsl(0, 0%, 70%);
  --qtcolor: hsl(0, 0%, 96%);
  --qncolor: hsl(0, 0%, 100%);
}

::selection {
  background-color: var(--highlight);
}

html,
body {
  min-height: 100vh;
  font-family: var(--font-sans);
  font-size: var(--font-md);
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  color: var(--color);
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

section {
  padding-block-start: clamp(0.75rem, 4vmax, 1.5rem);
  margin-block-end: min(6rem, 12vh);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: var(--font-md);
  line-height: inherit;
  border: none;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  font-style: italic;
}

svg {
  display: block !important;
}

.container {
  max-width: var(--max-w);
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 14rem), 1fr));
  gap: clamp(0.75rem, 4vmax, 1.5rem);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  color: var(--accolor);
  text-decoration: underline;

  &:is(:hover, :focus) {
    background-color: var(--highlight);
  }
}

/** Box **/
.box-title {
  padding-block-end: 0.25rem;
  font-size: var(--headline-2);
  text-transform: capitalize;
}

.box-paragraph {
  font-size: var(--font-mx);
  color: var(--ttcolor);
}

/** Navigation **/
.nav {
  height: var(--nav-h);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-spp {
  width: 3px;
  height: 3px;
  margin: 0 0.525rem;
  display: block;
  border-radius: var(--border-xx);
  background-color: var(--ttcolor);
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  list-style: none;
  cursor: default;

  & > .menu-item > .menu-link {
    text-transform: capitalize;

    &:is(:hover, :focus, .active) {
      text-decoration: underline;
    }
  }
}

/** Hero **/
.hero-box {
  margin-block-start: clamp(3rem, 3vw, 6rem);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  & .menu {
    margin-top: 0.525rem;

    & .menu-link {
      column-gap: 0.25rem;
      &:is(:hover, :focus) {
        color: var(--accolor);
      }
    }
  }
}

.hero-title {
  font-size: clamp(var(--headline-1), 4vw, 2.75rem);
}

.hero-sub {
  font-size: clamp(1.25rem, 4vw, 1.45rem);
  font-weight: 400;
  margin: 0.25rem 0 0.525rem 0;
}

.hero-description {
  max-width: 32rem;
  font-size: var(--font-mx);
}

/** Cards & Posts **/
.card {
  --x: 1.25rem;
  --m: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--m);
  padding: var(--x);
  border: 1px solid var(--border-color);
  border-radius: var(--border-sm);
  cursor: default;
  background-color: var(--sdcolor);
  background-image: var(--background-image);
  transition: transform 200ms ease-out;
  overflow: hidden;

  &:is(:hover, :focus) {
    transform: translateY(-5px);
  }
}

.card-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: var(--m);
  width: 9rem;
  height: 9rem;
  margin-block: auto;
  color: var(--sdcolor);
}

.card-date {
  font-size: var(--font-sm);
  color: var(--ttcolor);
}

.card-body {
  flex: 1;
  z-index: 99;

  & > .card-title {
    font-size: var(--headline-3);
    margin-bottom: 0.25rem;
    word-wrap: break-word;
    text-transform: capitalize;

    & > a:before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 99;
    }
  }
}

.card-stats {
  --gap: 0.25rem;
  padding-top: var(--m);
  gap: var(--gap);
  font-size: var(--font-sm);
  color: var(--ttcolor);
  z-index: 9;

  & > .menu-spp {
    margin: 0 var(--gap);
  }
}

.post {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.525rem;
  padding: 1.25rem;
  border-left: 4px solid var(--border-color);
  text-wrap: pretty;

  & .post-title {
    font-size: var(--headline-3);
    margin-bottom: 0.25rem;
    word-wrap: break-word;

    &:is(:hover, :focus) {
      text-decoration: underline;
    }

    & > a:before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 99;
    }
  }
}

.post-date {
  font-size: var(--font-sm);
  color: var(--ttcolor);
  display: flex;
  align-items: center;
}

.post-description {
  color: var(--ttcolor);
}

/** Filter **/
.filter-box {
  gap: 0.525rem;
  padding-bottom: clamp(0.75rem, 4vmax, 1.5rem);
  border-bottom: 1px solid var(--border-color);

  & .filter-button {
    height: 2.25rem;
    padding: 0 0.75rem;
    font-size: var(--font-sm);
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border-radius: var(--border-sm);
    border: 1px solid var(--border-color);
    background-color: var(--sdcolor);
    background-image: var(--background-image);

    &.active {
      color: var(--sdcolor);
      border-color: var(--accolor);
      background-color: var(--accolor);
      background-image: none;
    }
  }
}

/** Footer **/
footer {
  border-top: 1px solid var(--border-color);
  background-color: var(--sdcolor);
  background-image: var(--background-image);

  & > .footer {
    padding: calc(var(--nav-h) * 0.5) 0;
    font-size: var(--font-sm);
    font-style: italic;
  }
}

/** NotFound **/
.error {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  z-index: 9999;

  &.absolute {
    position: absolute;
    inset: 0;
  }
}

.error-title {
  font-size: clamp(var(--headline-1), 4vw, 3rem);
}

.error-paragraph {
  --max-p: 250;
  max-width: var(--max-p);
  width: 100%;
  margin: 0.25rem 0 0 0;
  font-size: var(--font-mx);
  text-align: center;
}

.error-button {
  margin: 1.25rem 0 0 0;
  padding: 1.25rem;
  text-transform: uppercase;
  background-color: var(--sdcolor);
  background-image: var(--background-image);
  border-radius: var(--border-sm);
  box-shadow: var(--shadow-sm);
}
